body {
    background: #f0f0f0;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;  
    
}

#container {
    width: 600px;    
    background-color: white;  
    padding: 20px;   
    border-radius: 10px; 
}

h1 {
    color: #333;
    text-align: center;
    border-bottom: 2px solid lightgray ;
    
}

section p { 
    color: #555;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    padding: 8px;
}

li:not(:last-child) {
    border-bottom: 1px solid #eee;
}


li:hover {
    background-color: lightblue;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.grid-item {
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

footer {
    background: lightgrey;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    border-bottom: none;
    gap: 15px;
}
